.app {
    height: 100%;
    display: flex;
    position: relative;
  }


.pro-icon{
  font-size: 22px;
}

.MenuTitle{
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 18px;
  padding-top: 4px;
  padding-bottom: 6px;
}


.MenuSlider{
  margin: 12px;
  margin-bottom: 10px
}