.App{
  margin: 24px 8px;
}

.pro-icon{
  font-size: 22px;
}

.menuTitle{
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 18px;
  padding-top: 4px;
  padding-bottom: 6px;
}

.menuSlider{
  margin: 12px;
  margin-bottom: 10px
}

.menuItem-disabled,
.menuItem-disabled .pro-item-content,
.menuItem-disabled .pro-inner-item,
.menuItem-disabled i,
.menuItem-disabled .pro-icon{
  cursor:default!important;
  background-color: #1d1d1dde;
  color: #555;
}