@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    /* background-color: #202847; */
    background-color: #20262E; /* bootstrap BGC dark */
    /* background-color: #17212F; materialize BGC dark */
    color: var(--text-color);
    font-family: 'Source Sans Pro', sans-serif;
}

#root {
  display: flex;
  flex-direction: row;
  position: relative;
}

.pro-sidebar{
  position: fixed!important;
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1cb; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #777; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777; 
}