.toolbarClient{
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .toolbarVehicle{
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .mouse-pointer{
    cursor: pointer;
  }

  .link{
    color:var(--yellow-200);
    text-decoration: none;
  }